:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--dgray);
  background-color: var(--beige);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --beige : #DDD0C8;
  --dgray : #323232;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin-top: 2rem;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

.title{
  margin-bottom: 1em;
}

.gameContainer{
  display: flex;
  justify-content: center;
  gap:4rem;
  margin-top: 6rem;
}

.gameContainer > img{
  width: 6rem;
}

.gameContainer > img:hover{
  transform: scale(1.2);
}

.score{
  margin-top: 1.5em;
  font-size: 2.5em;
  font-weight: bold;
}

.rules{
  font-size: 2em;
  margin-bottom: 3em;
}

h1 {
  font-size: 4rem;
  line-height: 1.1;
}

input[type=button]{
  border-radius: 8px;
  border: 0.1em solid transparent;
  padding: 0.2em 1em;
  font-size: 3em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--dgray);
  cursor: pointer;
  transition: border-color 0.25s;
}
input[type=button]:hover{
  background-color: rgb(123, 196, 15);
  transform: scale(1.1);
  /* box-shadow: #323232; */
}
input[type=button]:focus,
input[type=button]:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.playState > input[type=button]{
  background-color: var(--beige);
  color: var(--dgray);
}


#play:hover{
  color: rgb(123, 196, 15);;
}

#stop{
  margin-top: 0.5em;
}

#stop:hover{
  color: rgb(227, 14, 14);
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
